
body
{
	background-image: url("../img/bg_2.jpg");
}
* {
    box-sizing: border-box;
}
#main-title
{
  background: #450c48; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#210422, #450c48, #210422); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#210422, #450c48, #210422); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#210422, #450c48, #210422); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#210422, #450c48, #210422); /* Standard syntax */



	padding:10px 2%;
	font-size:20px;
	color:white;
	box-shadow: 2px 2px 4px #000000;
}

.title-menu
{
	margin:50px;
	text-decoration:none;
	color: yellow;
	list-style-type: none;
}
#title-menu {list-style-type: none;}
#title-menu li {display:inline;}

#title-menu li a:hover
{
	color:white;
}

#main-body
{
	font-size:20px;
	color: white;
}
/*    Product style starts here */
.sidebar
{
	height:auto;
	background-color: #582b70;
	float: left;
	margin: 20px 0px;
	}
.sidebar-item
{
	text-decoration:none;
	color: yellow;
	font-size: 18px;
}

#sidebar-itemgrp
{
		list-style-type:none;
	
}
#sidebar-itemgrp li
{
	padding: 50px 0px;	
}

.product-itemgrp {list-style-type: none;}
.product-itemgrp div {display:inline;}
.product-item  {display:inline;}

.frames
{
	background-color: #450566;
	opacity: 0.5;
	border: 20px hidden #0e031c ;
	margin: 30px;
	float: left;
	text-align: center;
	padding: 20px 0px; 
	box-shadow: 3px 3px 4px #000000;
	text-decoration:none;
}
.frames a { text-decoration:none;}
.frame-name
{
	color: black;
}
.frame-img
{
	position: relative;
	box-shadow: 3px 3px 4px #000000;
	z-index: 1;
}
.frame-bg
{
	position: absolute;
	top: 0px;
	z-index: -1;
}
.frame-price
{
	color: grey;
	font-family: cursive;
}
.frame-select
{
	color: white;
	background-color: #977d22;
	border: 2px solid black;
	padding: 10px 0px;
	margin: 0px 10%; 
}


#contact_form
{
	background-color: #582b70;
	padding: 5%;
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
}
.contact-info
{
 	float: left;
 	padding-left: 30px; 
 	margin-top: 30px;
}


#main-footer
{
	  background: #450c48; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#210422, #450c48, #210422); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#210422, #450c48, #210422); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#210422, #450c48, #210422); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#210422, #450c48, #210422); /* Standard syntax */

	padding:10px 2%;
	font-size:20px;
	color:white;
	float:bottom;
	clear:both;

}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
    .title-menu
	{display: block;
		text-align:center;
		margin: 0px;
		}