$bgColor : #5a323b;
$bgColor2 : #140314;
$fontListC : #f2edb3;
$fontHoverC : #bfae80;
$txtBodyC : #bfae80;
$barBgC : #5a323b;
$shadowC : #000000;

.img-margin{
	width:50%;
	float:left;
	padding:10px;
}


.crop-bottom {
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  heigth: auto;
  position: relative;
  background: white;
  overflow: hidden;

	img {
  		display: block;
  		margin: 0 auto;
 		width: 100%;
 		height: auto;
	}
}

.crop-bottom img {
	width:250%;
	margin: 0 auto -200%;
}

@mixin border-radius($radius: 12px)
{	
	-webkit-border-radius: $radius; 
	-moz-border-radius: $radius;  
	border-radius: $radius; 
}

@mixin background()
{
	background: $bgColor; 
	background: -webkit-linear-gradient($bgColor2, $bgColor, $bgColor2); 
	background: -o-linear-gradient($bgColor2, $bgColor, $bgColor2); 
	background: -moz-linear-gradient($bgColor2, $bgColor, $bgColor2); 
	background: linear-gradient($bgColor2, $bgColor, $bgColor2); 
}


@mixin border-image()
{
	border: 12px solid transparent;
	-webkit-border-image: url("../img/activepage_01.png") 30 round;
	-o-border-image: url("../img/activepage_01.png") 30 round;
	border-image: url("../img/activepage_01.png") 30 round;
}
.heading-font{
	font-family:"Arial Black", Gadget, sans-serif;
	font-size: 1.6em;
	text-shadow: 2px 2px 4px $fontHoverC;
}

.para-font 
	{font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 1.1em;
	text-align:justify;
}
.sec-font
{
	font-size:1.2em;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 2px 2px 4px $fontHoverC;
}

.glass {
  width: 300px;
  height: 300px;
  position: absolute;
  
  /* Multiple box shadows to achieve the glass effect */
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  
  /* hide the glass by default */
  display: none;
}

body {background-image: url("../img/bg_1.jpg");}

* { box-sizing: border-box;}

.logo
{
	float: left;
	margin: 6px;
	
}

.title-menu
{
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding:0;
	@include background;
	li {float: left;}
}
.active-p
{
	@include border-image;
    margin: 30px 15px;
	display: block;
	font-size: 1.2em;
	color: $fontListC;
	text-align: center;
	text-decoration: none;
	&:hover {
		color: $fontHoverC;
	}
}
.selImg
{
	border: 1px solid #bfae80;
	height:20px;
	width:20px;
	display: block;
	margin-top:12px;
}
.title-list
{
	margin: 30px 15px;
	display: block;
	font-size: 1.2em;
	color: $fontListC;
	text-align: center;
	text-decoration: none;
	border: 12px solid transparent;

	&:hover {
		color: $fontHoverC;
		
		@include border-image;
	}
}

/* Footer css  */
#main-footer
{
	clear:both;
	color:$txtBodyC;
	font-size:1em;
	@include background;
	display:inline-block;
	height: 1%;
	margin-top:20px;
	
}
hr
{
	margin:1%;
	border-top: 1px double $txtBodyC;
}
.footer-contact
{
	float:left;
	padding:2%
}

.footer-list
{
	float:left;
	padding: 3%;
	a {display:block;
		padding:1%;
		color:$txtBodyC;}
}
.hg{
	text-align:left;
	padding:3%;
	border-bottom: 1px solid $txtBodyC;
	p{
		padding:0px 8%;
	}
}
.footer-social
{
	float:left;
	padding:2%;
	
}
/* Sidebar css*/

.h-center{
	display:block;
	margin: 0px 15%;
	img{
		margin-top:25px;
		border: 15px ridge white;
	}
    
}
.h-button
{
	float:left;
	padding: 10px 5%;
	text-align: center;
	a{
	color: $txtBodyC;
	font-size:2em;
	text-decoration:none;
}
}

#main-body
{
	color: $txtBodyC;
}
/*    Product style starts here */
.sidebar
{
	height:auto;
	background-color: $barBgC;
	@include border-radius;
	float: left;
	margin: 20px 0px;
	}
.sidebar-active
{
	text-decoration:none;
	@include border-image;
	color: $fontListC;
	font-size: 18px;
	border: 12px solid transparent;
	display:block;
	&:hover {
	color: $fontHoverC;
	}
}
.sidebar-item
{
	text-decoration:none;
	color: $fontListC;
	font-size: 18px;
	border: 12px solid transparent;
	display:block;
	&:hover {
	color: $fontHoverC;
	@include border-image;}
}
#sidebar-itemgrp 
{
	list-style-type:none;
	padding:20px;
}
 

/*frames css starts here*/
.expand-align{
	margin:10%;
}
.frames
{
	background-color: $txtBodyC;
	@include border-radius;
	width:20%;
	margin: 2%;
	float: left;
	text-align: center;
	padding: 20px 0px; 
	box-shadow: 3px 3px 4px $shadowC;
	text-decoration:none;
	&:hover{
	background-color: $fontListC; }
	a { text-decoration:none;}
}
.frames-float
{float:left;}
.close
{
	
	float: right;
	text-decoration:none;
	color: white;
	background-color:black;
	padding:3px;
	margin:2px;
}

.frame-name
{
	color: black;
	margin-top: 5px;
	margin-bottom: 5px;
}
.frame-img
{

	box-shadow: 3px 3px 4px $shadowC;
}
.frame-imgGrp {
 position:relative; 
margin-top:10px;
 	left:0;
	top:0;
} 

.fimg-position {
	position: absolute;
	left: 0px;
	top: 0px;

}
#custom-center
{
	display:block;
	margin:3%;
}
.img-thumb
{
	display:block;
	margin-top:50px;
	margin-left: 50px;
}

.frame-price
{
	color: grey;
	font-family: cursive;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 1.1em;
}
.frame-select
{
	color: $fontHoverC;
	background-color: $barBgC;
	border: 2px solid black;
	padding: 10px 0px;
	margin: 0px 10%; 
	&:hover
	{background-color: $bgColor2;}
}

/*  frame-expand */

.frame-expand
{
	@include border-radius;
	float: left; 
	margin: 2%;
	width:95%;
	background-color: $txtBodyC;
}

.fexp-img
{
	margin: 20px 40px 20px 20px;
	background-size: 100%;
	box-shadow: 3px 3px 4px $shadowC;
	float: left;
	width: 40%;
}

/* Contact us starts here*/
#contact_form
{
	background-color: $barBgC;
	padding: 5%;
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
}
.contact-info
{
	
	float: left;
 	padding: 5%; 
 	margin-top: 30px;
}
.contact-map
{
	float: left;
	padding: 4% 1%;
}

/* About starts here*/
.shop-img
{
	background-color: $barBgC;
	@include border-radius;
	float: left;
	padding: 5%;
	margin-top: 100px;

}
.about-txt
{
	float: left;
	padding: 3%;
}

/* Other services scripts */

.hide {display: none;}
.services
{
	float: left;
	padding: 50px;
}
.txt-hight
{
	height:600px;
}
.load-button{
	margin-bottom:30px;
}

/* Other services scripts */
.field
{
	float:left;
	padding:30px;
	text-align: center;
}
.grayscale {-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.saturate {-webkit-filter: saturate(7); filter: saturate(7);}
.sepia {-webkit-filter: sepia(100%);filter: sepia(100%);}
.brightness {-webkit-filter: brightness(0.30);filter: brightness(0.30);}
.contrast {-webkit-filter: contrast(180%);filter: contrast(180%);}
.huerotate {-webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);}
.opacity {-webkit-filter: opacity(50%);filter: opacity(50%);}
.blur {-webkit-filter: blur(4px);filter: blur(4px);}
.invert {-webkit-filter: invert(100%);filter: invert(100%);}

.white
{
	background-color:white;}
.cream
{background-color:#FFFFE0;}
.Blue
{background-color:#4169E1;}
.Green
{background-color: #006400;}

.field-height
{
	max-height:550px;
	max-width:200%;
	display:block;
	margin:auto;
	width: auto;
	height:auto;
}
.frame-rotate
{
	left:75px;
	top:-75px;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.custom-frame
{
	position:absolute;
}
.custom-img
{
	position:absolute; 
 	left:0;
	top:0;
}
.img-pad
{
	padding:20px;
	max-width: 180%;
	margin:auto;
	max-height:550px;
	width:auto;
	height:auto;
}
#mobile-menu{display:none;}
.screen-hide {display:none;
height:500px;
background-color:$barBgC;
margin-top:20px;
padding:20%;}

/* css Responsive design */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


@media (max-width: 993px) {
    .col-2 {width: 25%;}
    .col-10 {width: 75%;}
    .screen-hide{display:block;}
    .title-list, .active-p
    {
    	margin: 0;
    	margin-bottom:15px;
    	float: left;
    }
    .title-menu li{
    	display:block;
    	margin: 0px 8%;
    	float:none;
    }
    .mobile-active
    {display:none;}
    .frames{
    	width:25%;
    }
    .h-center{
    	margin:0px 5%;
    }
    .logo
    {
    	padding: 0px 30%;
    	display:block;
    	float:none;
    }
    .img-thumb
{
	margin-top:20px;
	margin-left: 20px;
}
}

@media (max-width: 768px){
	
	[class*="col-"] {
        width: 100%;
    }
    .frames{
    	width:95%;
    }
    .h-center{
    	margin:10% 5%;
    }
    .fexp-img{
    	margin:8%;
    	width:80%;
    }
    .glass {
  width: 0;
  height: 0;
  position: absolute;
  box-shadow: none;
  display: none;
    }
	.footer-list a {
		display:inline;
	}
	#main-footer{
		text-align:center;
	}
	.footer-contact, .hg, .img-thumb{
		display:none;
	}
	.footer-social{
		padding:0;
	}
	.active-p{
		border-image:none;
		&:hover
		{
			@include border-image;
		}
	}

	.title-list, .active-p
    {
    	margin: 0;
    	margin-bottom:0px;
    	float: none;
    	display:none;
    }
    .title-menu li{
    	margin: 0px;
    }
    #mobile-menu{
    	display:block;
    }
    
#sil-02, #sil-03, #dimond-02, #dimond-03 {display:block;}
}
