$bgColor : #5a323b;
$bgColor2 : #140314;
$fontListC : #f2edb3;
$fontHoverC : #bfae80;
$txtBodyC : #bfae80;
$barBgC : #5a323b;
$shadowC : #000000;


@mixin border-radius($radius: 12px)
{	
	-webkit-border-radius: $radius; 
	-moz-border-radius: $radius;  
	border-radius: $radius; 
}

@mixin background()
{
	background: $bgColor; 
	background: -webkit-linear-gradient($bgColor2, $bgColor, $bgColor2); 
	background: -o-linear-gradient($bgColor2, $bgColor, $bgColor2); 
	background: -moz-linear-gradient($bgColor2, $bgColor, $bgColor2); 
	background: linear-gradient($bgColor2, $bgColor, $bgColor2); 
}


@mixin border-image()
{
	border: 12px solid transparent;
	-webkit-border-image: url("../img/activepage_01.png") 30 round;
	-o-border-image: url("../img/activepage_01.png") 30 round;
	border-image: url("../img/activepage_01.png") 30 round;
}
.glass {
  width: 300px;
  height: 300px;
  position: absolute;
  @include border-radius($radius: 50%)

  
  /* Multiple box shadows to achieve the glass effect */
  box-shadow:
    0 0 0 7px rgba(255, 255, 255, 0.85),
    0 0 7px 7px rgba(0, 0, 0, 0.25), 
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  
  /* hide the glass by default */
  display: none;
}

body {background-image: url("../img/bg_1.jpg");}

* { box-sizing: border-box;}

.logo
{
	float: left;
	margin: 6px;
	
}

.title-menu
{
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	@include background;
	li {float: left;}
}
.active-p
{
	@include border-image;
    margin: 30px;
	display: block;
	font-size: 20px;
	color: $fontListC;
	text-align: center;
	text-decoration: none;
	&:hover {
		color: $fontHoverC;
	}
}
.title-list
{
	margin: 30px;
	display: block;
	font-size: 20px;
	color: $fontListC;
	text-align: center;
	text-decoration: none;
	border: 12px solid transparent;

	&:hover {
		color: $fontHoverC;
		
		@include border-image;
	}
}

/* Footer css  */
#main-footer
{
	font-size:15px;
	color:$fontHoverC;
	float:bottom;
	clear:both;
	@include background;

}
.footer-menu
{
	list-style-type: none;
	overflow: hidden;
	margin:0px;
	li {float:left;
}
}
.footer-list
{
	margin: 20px;
	display: block;
	font-size: 20px;
	color: $fontListC;
	text-align: center;
	text-decoration: none;
	border: 12px solid transparent;

	&:hover {
		color: $fontHoverC;}
}
/* Sidebar css*/

#main-body
{
	font-size:20px;
	color: $txtBodyC;
}
/*    Product style starts here */
.sidebar
{
	height:auto;
	background-color: $barBgC;
	@include border-radius;
	float: left;
	margin: 20px 0px;
	}
.sidebar-active
{
	text-decoration:none;
	@include border-image;
	color: $fontListC;
	font-size: 18px;
	border: 12px solid transparent;
	display:block;
	&:hover {
	color: $fontHoverC;
	}
}
.sidebar-item
{
	text-decoration:none;
	color: $fontListC;
	font-size: 18px;
	border: 12px solid transparent;
	display:block;
	&:hover {
	color: $fontHoverC;
	@include border-image;}
}
#sidebar-itemgrp 
{
	list-style-type:none;
	padding:20px;
}
 

/*frames css starts here*/
.frames
{
	background-color: $txtBodyC;
	@include border-radius;
	width:20%;
	margin: 2%;
	float: left;
	text-align: center;
	padding: 20px 0px; 
	box-shadow: 3px 3px 4px $shadowC;
	text-decoration:none;
	&:hover{
	background-color: $fontListC; }
	a { text-decoration:none;}
}
.frames-float
{float:left}
.close
{
	
	float: right;
	text-decoration:none;
	color: white;
	background-color:black;
	padding:3px;
	margin:2px;
}

.frame-name
{
	color: black;
	margin-top: 5px;
	margin-bottom: 5px;
}
.frame-img
{

	box-shadow: 3px 3px 4px $shadowC;
}
.frame-imgGrp { position:relative; margin:30px; } 
.fimg-position {
	position: absolute;
left:0;

    }

.frame-price
{
	color: grey;
	font-family: cursive;
	margin-top: 5px;
	margin-bottom: 5px;
}
.frame-select
{
	color: $fontHoverC;
	background-color: $barBgC;
	border: 2px solid black;
	padding: 10px 0px;
	margin: 0px 10%; 
	&:hover
	{background-color: $bgColor2;}
}

/*  frame-expand */

.frame-expand
{
	@include border-radius;
	float: left; 
	margin: 2%;
	width:95%;
	background-color: $txtBodyC;
}

.fexp-img
{
	margin: 20px 40px 20px 20px;
	background-image: url('../img/your_img.jpg');
	background-size: 100%;
	box-shadow: 3px 3px 4px $shadowC;
	float: left;
	width: 40%;
}

/* Contact us starts here*/
#contact_form
{
	background-color: $barBgC;
	padding: 5%;
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
}
.contact-info
{
	
	float: left;
 	padding: 5%; 
 	margin-top: 30px;
}
.contact-map
{
	float: left;
	padding: 5% 0px;
}

/* About starts here*/
.shop-img
{
	background-color: $barBgC;
	@include border-radius;
	float: left;
	padding: 5%;
	margin-top: 100px;

}
.about-txt
{
	float: left;
	padding: 3%;
}
.para-font 
	{font-family: cursive;}

/* Other services scripts */

.hide {display: none;}
.services
{
	float: left;
	padding: 50px;
}

/* Other services scripts */
.field
{
	float:left;
	padding:30px;
	text-align: center;
}
.grayscale {-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.saturate {-webkit-filter: saturate(7); filter: saturate(7);}
.sepia {-webkit-filter: sepia(100%);filter: sepia(100%);}
.brightness {-webkit-filter: brightness(0.30);filter: brightness(0.30);}
.contrast {-webkit-filter: contrast(180%);filter: contrast(180%);}
.huerotate {-webkit-filter: hue-rotate(180deg);filter: hue-rotate(180deg);}
.opacity {-webkit-filter: opacity(50%);filter: opacity(50%);}
.blur {-webkit-filter: blur(4px);filter: blur(4px);}
.invert {-webkit-filter: invert(100%);filter: invert(100%);}

.white
{
	background-color:white;}
.cream
{background-color:#FFFFE0;}
.Blue
{background-color:#4169E1;}
.Green
{background-color: #006400;}
.field-height
{
	height:500px;
}
.custom-frame
{
	position:absolute;
}
.custom-img
{
	position:static;
}
.img-pad
{padding:50px;}


/* css Responsive design */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

